/* Put your CSS here */
.ember-application {
    margin: 50px;
}
.active{
    font-weight:bold;
}
.searchbox{
    margin-top:0.5em;
    margin-bottom:-1.5em;
    position:fixed;
    left:23%;
    right:20%;
}
.header{
    width:100%;
}
.logo{
    position:fixed;
    left:7%;
    font-size:1.5em;
    font-weight:bold;
}
.register,.logout{
    position:fixed;
    right:5%;
}
.login{
    position:fixed;
    right:12%;
}
.menu{
    height:100%;
    float:left; 
    width:20%;
}
article{
    margin-top:1em;
    float:right;
    width:80%;
}
.news_block,.friends_block{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top:solid #c0c0c0 1px;
}
.avatar{
    float:left; 
    width:150px;
    height:150px;
    border:solid #c0c0c0 1px;
    margin-right:15px;
    margin-top:10px;
}
.info{
    float:left;
    width:50%;
}
.info_tag{
    float:left;
    width:25%;
    color:#999999;
}
.pers_info{
    float:left;
    width:100%;
}
#register_errmsg,#login_errmsg
{
    font-weight:800;
    color:#cd5b45;
    margin-bottom:0.5em;
}
#register_sucmsg,#login_sucmsg
{
    font-weight:800;
    color:#abcdef;
    margin-bottom:0.5em;
}
a:hover{
    cursor:pointer;
    text-decoration: none;
}
.are_friends,.add_friend,.requested_friend{
    float:right;
    display:inline;
    background-size:139px 24px;
    background-repeat:no-repeat;
    width:139px;
    height:24px;
}
.are_friends:hover,.add_friend:hover,.requested_friend:hover{
    cursor:pointer;
}    
.are_friends{
    background-image:url(../img/f_unfriend.png);
}
.add_friend{
    background-image:url(../img/f_add_friend.png);
}
.requested_friend{
    background-image:url(../img/f_request_sent.png);
}
.friend_msg{
   position:absolute;
   left:65%;
   display:inline;
   font-weight:800;
   color:#abcdef;
}
[contenteditable]{margin:2px;background:#f9f9f9;border:solid #999999 1px;}
[contenteditable]:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
  .text-stroke(0);
}
[contenteditable]:hover, [contenteditable]:focus {
  background: #FFFFD3;
}
[contenteditable]:focus {
  padding: 2px;
  content: 'Hello World';
}
[contenteditable]:focus:after {
  content: '';
}