/* Put your CSS here */
.ember-application {
    margin: 50px;
}

.active{
    font-weight:bold;
}

#logo{
    font-weight: bold;
    font-size: 1.8em;
}

.menu{
    height:100%;
    float:left; 
    width:20%;
}

article{
    float:right;
    width:80%;
}
